@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    /* New */
    justify-content: center;
}

.stats-container {
    display: flex;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

/* unknown use as of now */
/* .stats-container s {
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
} */

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/* New Styles */
h2 {
    display: flex;
    justify-content: center;
}

#description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(skyblue, #3483eb);
    width: 64%;
    margin-left: 18%;
    border: 10px solid #67a2f0;
    font-weight: bold;
    font-size: 20px;
}

/* div #gameRef {
    display: flex;
    justify-content: center;
} */

#gameRef {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(skyblue, gray);
    width: 50%;
    margin-left: 25%;
    border: 10px solid #3483eb;
    border-radius: 20px;
}

#gameRef p {
    font-weight: bold;
    font-size: 20px;
}

.subtitle {
    background-image: linear-gradient(#FFD700, orange);
    width: 25%;
    margin-left: 38%;
    border: 5px double orange;
}

#button-container button:hover{
    cursor: pointer;
    background-color: #85b4f2;
    font-weight: bold;
    color: #FFD700;
}

.stats-card h3 {
    background-image: linear-gradient(#FFD700, #d46600);
    font-style: italic;
    border: 1px solid #d46600;
    border-radius: 7px; 
}

.stats {
    background-color: yellow;
    border: 2px solid #FFD700;
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
}

#gameHighlight {
    background-color: #FFD700;
    font-weight: bold;
}